html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #7fc8aa11;
}
$light: #d5eebb;
$middle: #7fc8a9;
$dark: #444941;

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: #444941;
  box-sizing: border-box;
}
.markdown-content {
  * {
    color: inherit;
    box-sizing: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    code {
      padding: 5px;
      background-color: #ededed;
      color: #eb5757;
      border-radius: 5px;
    }
  }
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #444941;
}

.sampleClass123 {
  background-color: red;
}
